<div class="header">
    <div class=" container-fluid h-100">
        <div class="row align-items-center h-100">
            <div class="col-auto align-self-cente">
                <img src="assets/Beinex-logo.svg">
            </div>
            <div class="col page-title">
                Exicutive Dashboard
            </div>
            <div class="col-auto align-self-cente">
                <div class="row">
                    <div class="col-auto">
                        <img class="icons" src="assets/cog.png">
                    </div>
                    <div class="col-auto">
                        <img class="icons" src="assets/user.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
