.header{
    height: 76px;
    width: 100%;
    background-color: #eef6f8;
    // box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.icons {
    height: 26px;
    width: 26px;
}

.page-title {
    color: #0c6259;
    font-weight: 700;
    font-size: 14pt;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}