.not-found {
  background-color: #eef6f8;
  height: calc(100% - 76px);
}

.flex-centered {
    margin: auto;
    text-align: center;
  }
  
  .title {
    text-align: center;
  }
  
  .sub-title {
    text-align: center;
    display: block;
    margin-bottom: 3rem;
  }


